body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #e5e5e5;
}

.wrapper {
  margin: 0;
  background-color: white;
  border-bottom-left-radius: 100px;
  padding-bottom: 100px;
}

.top-section {
  margin: 0;
  background-color: white;
}

.menu-box {
  display: none;
}

.second-section-container {
  background-image: url("/assets/images/headerBackground.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding-top: 320px;
}

.second-section {
  max-width: 795px;
  margin: auto;
}

.second-section h1 {
  margin: 0;
}

.nav-bar {
  display: flex;
  margin: 0 155px;
  justify-content: space-between;
  margin-top: 0;
}

.nav-bar ul {
  list-style-type: none;
  margin-top: 25px;
}

.logo-box {
  margin: 0;
  padding: 0;
}

.logo-box li {
  color: #6070ff;
  font-size: 18px;
}

.links-box {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  min-width: 200px;
  padding: 0;
}

.links-box li {
  font-size: 15px;
}

.social-container {
  list-style-type: none;
  padding: 0;
  display: flex;
  padding-bottom: 250px;
}

.social-container li {
  margin-right: 19px;
}

@media screen and (max-width: 1000px) {
  .second-section {
    max-width: 600px;
    margin: auto;
  }

  .second-section-container {
    padding-top: 144px;
  }
}

@media screen and (max-width: 900px) {
  .second-section-container {
    background-image: url("/assets/images/headerBackground.png");
    background-size: 100% 80%;
    background-repeat: no-repeat;
    padding-top: 124px;
  }

  .nav-bar {
    margin: 0 54px;
  }

  .second-section {
    max-width: 400px;
  }

  .social-container {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 500px) {
  .nav-bar {
    margin: 0 20px;
  }

  .links-box {
    display: none;
  }

  .menu-box {
    display: block;
    color: #6070ff;
    height: 10px;
  }

  .second-section {
    max-width: 372px;
    margin: 0 20px;
  }
}
