body {
  background-color: #e5e5e5;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

/* "Mobile First" Styling */
.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 1024px;
  margin: auto;
  background-color: #f8f7f7;
  padding: 0;
}

.fa-bars {
  font-size: 1.25rem;
}

.nav-bar {
  color: #6070ff;
  display: flex;
  font-weight: 700;
  justify-content: space-between;
  font-family: "Roboto", sans-serif;
  background-color: white;
  padding: 20px 8.5% 0;
  margin: 0;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 10;
}

.nav-bar h1 {
  padding: 0;
  margin: 0;
  font-weight: 700;
}

.avatar {
  height: auto;
  border-radius: 100%;
  width: 300px;
  margin-top: 180px;
  margin-bottom: 90px;
  opacity: 0.8;
  right: 0;
  bottom: 180px;
}

button {
  cursor: pointer;
  font-size: 1.6rem;
}

section {
  max-width: 100%;
}

.nav-bar li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.top-section {
  width: 95%;
  margin: auto;
}

.logo-box a {
  text-decoration: none;
  color: #6070ff;
}

.logo-box span,
.logo-box h1 {
  width: 50%;
}

.second-section-container {
  background-image: url("../assets/images/mobileBackground.png");
  background-size: 100% 90%;
  background-repeat: no-repeat;
  width: 60%;
  border-bottom-left-radius: 150px;
}

.second-section p {
  margin: 0;
  padding: 0;
}

.second-section {
  padding: 108px 24px 0;
  width: 80%;
}

.see-projects {
  margin: 130px auto 0;
  color: #172b4d;
  font-size: 2rem;
}

.rule {
  background-color: #6070ff;
  width: 100px;
  height: 5px;
  margin: 0 auto 70px;
}

.second-section h1:first-child,
.second-section h1:nth-child(2) {
  font-size: 2.5rem;
  font-weight: bolder;
  width: 90%;
  color: #172b4d;
  margin: 0;
}

.second-section h1:first-child {
  margin-top: 10px;
}

.header,
.second-section-container {
  width: 100%;
  background-color: white;
}

.header {
  border-bottom-left-radius: 100px;
  font-family: "Poppins", sans-serif;
}

.social-container li {
  margin-right: 40px;
  font-size: 1.6rem;
  width: 20px;
  color: #505f79;
}

.get-resume a {
  text-decoration: none;
  color: inherit;
}

.social-container li a {
  text-decoration: none;
  color: inherit;
}

.social-container-about li {
  margin-right: 40px;
  font-size: 1.56rem;
  width: 20px;
  color: #505f79;
}

/* Mobile Modal Styling Start */
.project-modal-background {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: auto;
  background: rgba(138, 168, 207, 0.84);
  opacity: unset;
  text-align: center;
  z-index: 20;
  max-height: 100vh;
  overflow-y: auto;
  backdrop-filter: blur(4px);
}

.project-modal-main {
  width: 80%;
  margin: 50px auto;
  background-color: white;
  padding: 10px 20px 10px;
  border-radius: 20px;
  overflow-y: initial !important;
}

.modal-top-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  color: #172b4d;
}

.md-pr-yr {
  margin-bottom: 30px;
  margin-top: 0;
}

.md-pr-yr li {
  font-size: 14px;
}

.modal-project-name {
  font-size: 30px;
  font-weight: bolder;
  margin: 0;
  padding: 0;
}

.close {
  font-size: 30px;
  font-weight: lighter;
  cursor: pointer;
}

.modal-image {
  width: 100%;
  margin-top: 20px;
  border-radius: 10px;
}

.modal-project-details {
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 10px;
}

.modal-project-description {
  font-size: 15px;
  color: #344563;
  text-align: left;
}

.modals-tech-and-buttons {
  text-align: left;
}

.modal-techs {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding-left: 0;
  margin: 0 0 40px;
  font-size: 14px;
}

.modal-techs li {
  background-color: rgb(213, 227, 231);
  color: rgb(52, 59, 155);
  padding: 5px 10px;
  border-radius: 10px;
  margin: 10px 5px 0 0;
}

.modal-buttons div {
  background-color: white;
  border: 0.5px solid rgb(52, 59, 155);
  padding: 10px;
  border-radius: 8px;
  font-size: 18px;
  margin: 5px;
  cursor: pointer;
  display: inline-block;
}

.modal-buttons div a {
  text-decoration: none;
  color: rgb(52, 59, 155);
}

/* Syles for the mobile menu */
.mobile-menu-format {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  padding-top: 21px;
  width: 100vw;
  height: 100vh;
  background-color: #6070ffb0;
  backdrop-filter: blur(8px);
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

.mobile-menu-format .menu-item {
  padding-left: 28px;
  margin-bottom: 40px;
  font-size: 32px;
}

.mobile-menu-format li:first-of-type {
  padding-top: 60px;
}

.close-container {
  display: flex;
  justify-content: flex-end;
  color: white;
  font-size: 30px;
  padding-right: 33px;
}

.mobile-menu-format .menu-item a {
  color: white;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

/* End of Mobile Menu Styles */

.connect {
  color: #7f8cff;
  font-size: 1rem;
  font-weight: 500;
  margin-top: 900px;
}

.social-container {
  display: flex;
  list-style-type: none;
  padding-bottom: 138px;
  padding-left: 0;
  width: 40%;
  justify-content: flex-start;
}

.fade {
  margin: -15px 0 10px;
  opacity: 0;
  font-size: 14px;
  transition: opacity 2s;
}

.second-section p:nth-child(4) {
  margin-top: 12px;
}

.second-section p:nth-child(3) {
  color: #344563;
  margin-top: 12px;
}

.projects {
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 50px;
  width: 100%;
  margin: auto;
}

.project {
  margin: 80px 24px 0;
  border: 1px solid #dfe1e6;
  display: flex;
  flex-direction: column;
  padding-bottom: 27px;
  border-radius: 16px;
  background-color: white;
  font-family: "Poppins", sans-serif;
}

.first-project {
  margin-top: 0;
}

.project > * {
  margin: 0 16px;
}

.project-image {
  margin: auto;
  margin: 0 10px;
  display: block;
  overflow-y: hidden;
  overflow-x: hidden;
  border-radius: 10px;
  margin-top: 10px;
  height: auto;
}

.project-name {
  font-size: 2rem;
  font-weight: bolder;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 70%;
  color: #172b4d;
}

.project-year {
  margin-bottom: 0;
  display: flex;
  list-style-type: none;
  padding: 0;
}

.project-year > * {
  margin-right: 5px;
}

.canopy {
  font-size: 0.8rem;
  font-weight: bolder;
  color: #344563;
}

.role {
  font-size: 0.8rem;
  color: #7a869a;
  font-weight: bolder;
}

.dot {
  background-color: #c1c7d0;
  width: 5px;
  height: 5px;
  border-radius: 100%;
  position: relative;
  bottom: -7px;
}

.project-description {
  color: #344563;
  margin-bottom: -15px;
}

.project-technologies {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0 25px;
  list-style-type: none;
}

.project-technologies > * {
  margin: 0 5px 5px;
  border-radius: 8px;
  background-color: #ebebff;
  padding: 5px 10px;
  color: #6070ff;
  font-size: 0.75rem;
}

.project-button {
  padding: 1rem;
  background-color: white;
  border: solid #6070ff;
  border-radius: 8px;
  font-size: 1.6rem;
  color: #396df2;
  font-weight: 500;
  transition: all 1s;
}

.project-button:hover {
  background-color: #6070ff;
  border: 2px solid #6070ff;
  border-radius: 8px;
  color: #fff;
  font-weight: 500;
}

.project-button:active {
  background-color: #2230d2;
  border: 2px solid #2230d2;
  border-radius: 8px;
  color: #fff;
  font-weight: 500;
}

.project-button:link {
  background-color: white;
}

.about-container {
  background-color: #fff;
  margin-top: 114px;
  border-top-right-radius: 100px;
  padding: 0 24px;
  font-family: "Poppins", sans-serif;
}

.about > * {
  width: 100%;
}

.about-intro-section h1:first-child {
  color: #172b4d;
  font-size: 2.5rem;
  font-weight: 900;
  margin-top: 92px;
  margin-bottom: 10px;
  line-height: 1.2;
}

.connect-about {
  color: #7f8cff;
  font-size: 1rem;
  font-weight: 500;
}

.about-intro-section p:nth-child(2) {
  color: #344563;
  padding-top: 0;
  margin-top: 0;
}

.social-container-about {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  margin: 26px 0 20px;
  padding: 0 0 0 12px;
  width: 80%;
  justify-content: flex-start;
}

.about .project-button {
  width: auto;
  padding-right: 12px;
  padding-left: 12px;
  font-size: 1.6rem;
}

.tech-stacks {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
}

.lang-and-icon {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 10px;
}

.lang-and-icon span:first-child {
  font-size: 1.65rem;
  font-weight: 500;
  color: #505f79;
}

.fa-chevron-down {
  color: #505f79;
  cursor: pointer;
  font-size: 1.65rem;
  font-weight: bold;
  transform: rotate(180deg);
  transition: all 1s;
}

.rotate-chevron {
  transform: rotate(360deg);
}

.langs-frames-skills {
  margin: 0 15px -30px;
  width: 90%;
  padding-bottom: 0;
}

.lang-list {
  display: flex;
  flex-direction: column;
}

.second-section ul {
  margin-bottom: 80px;
}

.lang {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 0 10.72px;
  padding: 10px;
  background-color: #f7f7f9;
  border-radius: 8px;
}

.js,
.html,
.css {
  color: #253858;
}

.lang-logo {
  width: 48px;
  height: 48px;
  margin-right: 16px;
}

.frames-and-icon,
.skills-and-icon {
  border-bottom: 1px solid #dfe1e6;
  padding-left: 12px;
  padding-right: 42px;
  width: 80%;
  padding-bottom: 23px;
}

.contact-wrapper {
  background-color: #fff;
}

.contact {
  background: url("../assets/images/contact_background.png");
  background-size: 60% 100%;
  background-repeat: no-repeat;
  background-position: top right;
  background-color: #6070ff;
  font-family: "Poppins", sans-serif;
  border-top-left-radius: 100px;
  width: 100%;
  padding: 13px 24px 0;
  box-sizing: border-box;
  margin-top: 100px;
  text-align: center;
}

.contact h1:first-child {
  text-align: center;
  font-weight: bold;
  font-size: 2.5rem;
  margin-bottom: 0;
  color: #fff;
}

.contact h1:first-of-type {
  color: #ebebff;
  font-size: 2.5rem;
  text-align: center;
  font-weight: bold;
  margin-top: 80px;
}

.contact p:nth-child(2) {
  color: #fff;
  text-align: center;
  font-size: 1.25rem;
  margin-bottom: 40px;
}

.name,
.email {
  width: 100%;
  height: 48px;
  margin-bottom: 20px;
  border-radius: 8px;
  border: none;
  padding: 15px;
  font-size: 1.25rem;
  color: #172b4d;
  box-sizing: border-box;
  transition: all 1s;
}

.msg {
  width: 100%;
  padding: 16px;
  box-sizing: border-box;
  border-radius: 8px;
  margin-bottom: 22px;
  color: black;
  font-family: Poppins, sans-serif;
  font-size: 1.25rem;
  transition: all 1s;
}

.name:focus,
.email:focus,
.msg:focus {
  transform: scale(1.05);
  border: none;
  outline: none;
}

.send {
  color: #6070ff;
  border-radius: 8px;
  margin-bottom: 32px;
  border: none;
}

.send:hover {
  border: 1px solid white;
  font-size: 1.6rem;
}

.menu {
  display: none;
}

.image {
  width: 100%;
  height: auto;
  margin-top: 0;
  border-radius: 10px;
  transition: all 1s;
}

.image:hover {
  transform: scale(1.1);
}

.toggle-lang-list {
  display: none;
}

.go-to-top {
  position: fixed;
  bottom: 10px;
  right: 0;
  margin: 5px;
  padding: 5px;
  border: 4px solid #172b4d;
  background-color: #fff;
  border-radius: 100%;
  cursor: pointer;
}

.g-t {
  text-decoration: none;
  color: #172b4d;
  font-weight: bold;
}

/* Desktop media queries */
@media all and (min-width: 1020px) {
  .wrapper {
    min-width: 100%;
  }

  .menu-icon {
    display: none;
  }

  .menu {
    display: flex;
    list-style-type: none;
    padding: 0;
    justify-content: space-between;
  }

  .nav-bar {
    color: #344563;
    background-color: white;
    padding: 0 6%;
    margin: 0;
    display: flex;
    align-items: center;
    font-size: 1.25rem;
    position: sticky;
    top: 0;
  }

  .nav-bar li {
    margin-left: 50px;
  }

  .nav-bar li a {
    text-decoration: none;
    color: inherit;
  }

  .top-section {
    width: 100%;
    padding: 0;
  }

  .second-section-container {
    background-image: url("../assets/images/headerBackground.png");
    margin: 0 auto;
    display: grid;
    align-self: center;
    grid-template-columns: 65% 35%;
    width: 95%;
  }

  .second-section {
    width: 70%;
    margin: auto;
  }

  .second-section h1:first-child {
    padding-top: 80px;
  }

  /* Project section styling */
  .project {
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 10px;
    width: 75%;
    margin: 100px auto 0;
    padding: 10px 20px 10px 10px;
    box-sizing: border-box;
  }

  .first-project {
    margin-top: 0;
  }

  .project:hover {
    border: 1px solid #a7afff;
    box-shadow: 10px 20px 60px 5px rgba(197, 201, 250, 0.8);
  }

  .project-image {
    width: 100%;
    height: auto;
    margin: 0;
    border-radius: 16px;
    overflow: hidden;
  }

  .project .image {
    padding-top: 0;
    margin-top: 0;
    width: 100%;
    height: auto;
  }

  .exchange {
    order: 2;
  }

  .second-section h1:first-child,
  .second-section h1:nth-child(2) {
    font-size: 3rem;
  }

  .second-section .connect {
    padding-top: 20px;
  }

  .about {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-gap: 10px;
    padding: 0 10%;
  }

  .about-intro-section p:nth-child(2) {
    font-size: 1.125rem;
  }

  .lang {
    width: auto;
    flex-direction: column;
    margin-right: 10px;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 5px;
  }

  .lang-and-icon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 20px;
    width: auto;
  }

  .frames-and-icon,
  .skills-and-icon {
    border-bottom: 1px solid #dfe1e6;
    padding-left: 0;
    padding-right: 0;
    width: auto;
    padding-bottom: 23px;
  }

  .lang-list {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }

  .langs-frames-skills {
    margin: 0;
    width: auto;
    padding-bottom: 0;
  }

  .css {
    margin-left: 5px;
  }

  .tech-stacks {
    margin: 50px 0 0 10px;
  }

  .contact {
    background-image: url("../assets/images/contact_form_big_background.png");
    background-size: 100% 100%;
    text-align: center;
    padding-bottom: 50px;
    border-top-left-radius: 200px;
    margin-top: 200px;
  }

  .contact-wrapper {
    background-color: white;
  }

  .contact h1:first-child {
    padding-bottom: 30px;
  }

  .contact > * {
    max-width: 500px;
    margin: auto;
  }

  .send {
    align-self: center;
  }

  .project > section:nth-child(2) {
    margin: 20px 0 0 20px;
  }

  /* Desktop Modal Styling Start */
  .project-modal-main {
    width: 60%;
  }

  .md-pr-yr {
    margin-bottom: 30px;
  }

  .md-pr-yr li {
    font-size: 18px;
  }

  .modal-project-name {
    font-size: 40px;
  }

  .modal-image {
    margin-top: 0;
    border-radius: 10px;
  }

  .modal-techs {
    margin-top: 20px;
  }

  .modal-project-details {
    grid-template-columns: 70% 30%;
    margin-top: 30px;
  }

  .modal-project-description {
    font-size: 22px;
  }

  .fade {
    font-size: 18px;
  }
}

@media screen and (max-width: 1000px) {
  .avatar {
    position: absolute;
    width: 150px;
    opacity: 0.9;
    left: 18%;
    top: -90px;
  }

  .second-section-container {
    display: flex;
  }
}

@media screen and (max-width: 1020px) {
  .avatar {
    position: absolute;
    width: 100px;
    opacity: 0.9;
    left: 10%;
    top: -120px;
  }
}
