body {
  background-color: #e5e5e5;
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  width: 375px;
  height: 718px;
  margin: auto;
  background-color: white;
  border-bottom-left-radius: 50px;
  padding: 0;
}

.nav-bar {
  margin: 26px 24px 20px;
  color: #6070ff;
  display: flex;
  font-weight: 700;
  justify-content: space-between;
}

.nav-bar p {
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-weight: 700;
}

section {
  width: 375px;
}

.nav-bar li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.second-section-container {
  background-image: url("/assets/images/mobileBackground.png");
  background-size: 100% 100%;
}

.second-section p {
  margin: 0;
  padding: 0;
}

.second-section {
  padding: 108px 24px 0;
}

.second-section p:first-child,
.second-section p:nth-child(2) {
  font-size: 40px;
  font-weight: 700;
  width: 100%;
}

.header,
.second-section-container {
  width: 100%;
}

.connect {
  color: #7f8cff;
  font-size: 16px;
  font-weight: 500;
  margin-top: 900px;
}

.social-container {
  display: flex;
  list-style-type: none;
  padding-bottom: 138px;
  padding-left: 0;
}

.second-section p:nth-child(4) {
  margin-top: 12px;
}

.second-section p:nth-child(3) {
  margin-top: 12px;
}

.social-container li {
  margin-right: 19px;
  font-size: 18px;
}
